@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.eot');
    src: url('./fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Lato-Regular.ttf') format('truetype'),
    url('./fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Black.eot');
    src: url('./fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Montserrat-Black.ttf') format('truetype'),
    url('./fonts/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Lato, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topContainer {
    background: #43cb83 url("../img/Геометрический_фон.png");
    max-width: 100%;
    max-height: 659px;
    position: relative;
}

#myTopnav {
    float: right;
    margin: 50px 12% 50px 0;
    position: relative;
}

.topnav > a {
    margin-right: 30px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    position: relative;
    padding: 15px 40px;
    z-index: 50;
}

.topnav > a:hover {
    display: flex;
    color: #43cb83;
    background: #FFFFFF;
    border-radius: 40px;
    transition: all 0.3s ease;
    padding: 15px 40px;
    -webkit-transition: all 0.3s ease;
    box-shadow: 0 10px 37px rgba(0, 0, 0, 0.21);
}

.topnav {
    display: flex;
    text-decoration: none;
}

.topnav:hover {
    text-decoration: none;
}

#img1 {
    width: 80%;
    margin: -150px 0 0 50px;
}

.discount {
    display: flex;
    color: #ffffff;
}

.discountH1 {
    font-size: 36px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 55px;
    line-height: 30px;
}

.discountH2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 35px;
    margin-right: 20px;
}

.discountH3 {
    font-weight: 400;
    margin-right: 20px;
}

.midContainer {
    background: #FFFFFF;
    position: relative;
}

.midTitle > p {
    display: flex;
    justify-content: center;
    margin: 73px 0;
    z-index: 10;
    font-size: 36px;
    font-weight: 700;
    color: #282828;
}

#firstImg {
    position: relative;
    z-index: 3;
    margin: 50px 0 0 100px;
    max-height: 50%;
    max-width: 50%;
}

#menu {
    display: none;
}

@media screen and (max-width: 1398px ) {
    .beacon > .formBeacon {
        max-width: 100%;
    }

    .beacon > .formBeacon > .buy {
        padding: 5px 15px;
    }

    .buy:hover {
        text-decoration: none;
        color: #2c2c2c;
    }

}

@media screen and (max-width: 1568px ) {
    #img1 {
        height: auto;
        width: 80%;
        margin: -100px 0 0 0;
    }

    .beacon > .formBeacon > .buy {
        margin: 0 20% 15px 25%;
        padding: 5px 15px;
    }

    .beacon > .formBeacon {
        margin: 15px 50px;
        max-width: 90%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1200px ) {
    .beacon > .formBeacon > .buy {
        margin: 0 20% 15px 25%;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 1050px ) {
    #myTopnav {
        float: left;
        margin: 0;
    }

    #img1 {
        display: none;
    }

    #firstImg {
        display: none;
    }

    #discText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
        padding: 0;
    }

    .discountH1 {
        line-height: 50px;
        margin: 100px 0 50px;
    }

    .discount {
        padding: 0;
        text-align: center;
    }

    .discountH3 {
        margin: 0 20px 15px 20px;
        line-height: 30px;
        text-align: left;
    }

    .discountH2 {
        margin: 0 20px 55px 20px;
        padding: 50px 0 0;
        text-align: left;
    }

    .topnav > a {
        display: none;
        margin: 0;

    }

    #menu {
        position: absolute;
        display: block;
        padding: 10px 15px;
        z-index: 5;
        margin: 10px 15px 0 0;
    }

    .topnav.responsive a {
        position: relative;
        float: none;
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    body > .topContainer {
        max-height: none;
    }

    .midTitle > p {
        margin: 55px 10px;
        text-align: center;
    }
}

.formBeacon {
    position: relative;
    display: block;
    border: 1px solid #e3e3e3;
    margin: 0 5px;
    text-align: center;
    z-index: 12;
    background: #FFFFFF;


}

.formBeacon:hover {
    z-index: 15;
    transition: all 0.3s ease;
    box-shadow: 0 28px 57px rgba(0, 0, 0, 0.3);
}

.formBeacon:hover > h1 {
    font-weight: 800;
}

.formBeacon:hover > a {
    font-size: 20px;
    font-weight: 900;
    color: #282828;
    background-color: #43cb83;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#asensor {

}

#arm {

}

#esti {

    margin: -25px auto -30px;
    z-index: 0;
}

#i227 {

}

.formBeacon > h1 {
    font-size: 24px;
    font-weight: 500;
    z-index: 4;
    margin: 19px auto 0;
}

.formBeacon > p {
    max-height: 200px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px;
}

.pay {
    color: #515461;
    font-family: Montserrat, sans-serif;
    font-size: 29px;
    font-weight: 400;
    margin: auto 0;
    z-index: 15;
}

.calc {
    display: flex;
    justify-content: center;
    border: 1px solid #e3e3e3;
    align-items: flex-end;
    margin: auto 25% 20px;
    border-radius: 20px;
}

.calc > a > img {
    margin: -5px 7px;
}

#minusPng {
    margin: 10px;
}

.beacon > .formBeacon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    height: auto;
}

.beacon > .formBeacon > img {
    margin: auto;
}

.beacon {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.buy {
    position: relative;
    text-decoration: none;
    color: #2c2c2c;
    border-radius: 20px;
    border: 3px solid #43cb83;
    padding: 10px 55px;
    margin: 0 20px 15px;
    max-width: 500px;
    text-align: center;
}

.buy:hover {
    text-decoration: none;
    color: #2c2c2c;
}
